Implementations/Common/TestAbstractionsApplication.Common.BaseAImplementation/obj/
Implementations/Common/TestAbstractionsApplication.Common.CompanyBaseImplementation/bin/
Implementations/Common/TestAbstractionsApplication.Common.CompanyBaseImplementation/obj/
Implementations/Common/TestAbstractionsApplication.Common.Controllers/bin/
Implementations/Common/TestAbstractionsApplication.Common.Controllers/obj/
Implementations/Common/TestAbstractionsApplication.Common.CustomerBaseImplementation/bin/
Implementations/Common/TestAbstractionsApplication.Common.CustomerBaseImplementation/obj/
Implementations/Common/TestAbstractionsApplication.Common.EmployerBaseImplementation/bin/
Implementations/Common/TestAbstractionsApplication.Common.EmployerBaseImplementation/obj/
Implementations/Common/TestAbstractionsApplication.Common.Implementations/bin/
Implementations/Common/TestAbstractionsApplication.Common.Implementations/obj/
Implementations/Common/TestAbstractionsApplication.Common.Interfaces/bin/
Implementations/Common/TestAbstractionsApplication.Common.Interfaces/obj/
Implementations/Common/TestAbstractionsApplication.Common.Types/bin/
Implementations/Common/TestAbstractionsApplication.Common.Types/obj/
Implementations/ExternalServices/TestAbstractionsApplication.CompanyImplementation/bin/
Implementations/ExternalServices/TestAbstractionsApplication.CompanyImplementation/obj/
Implementations/ExternalServices/TestAbstractionsApplication.CustomerImplementation/bin/
Implementations/ExternalServices/TestAbstractionsApplication.CustomerImplementation/obj/
Implementations/ExternalServices/TestAbstractionsApplication.EmployerImplementation/bin/
Implementations/ExternalServices/TestAbstractionsApplication.EmployerImplementation/obj/
TestAbstractionsApplication.Core/TestAbstractionsApplication.Core/bin/
TestAbstractionsApplication.Core/TestAbstractionsApplication.Core/obj/
